/* MOVE */

@keyframes move{

	from { margin-top: 200px; }
	to   { margin-top: 40px; }
}

@-moz-keyframes move{

	from { margin-top: 200px; }
	to   { margin-top: 40px; }
	
}

@-webkit-keyframes move{

	from { margin-top: 200px; }
	to   { margin-top: 40px; }
	
}

@-o-keyframes move{

	from { margin-top: 200px; }
	to   { margin-top: 40px; }
	
}

.move{
   
	-webkit-animation: move 2s linear forwards;
	-moz-animation: move 2s linear forwards;
	-ms-animation: move 2s linear forwards;
	-o-animation: move 2s linear forwards;
	animation: move 2s linear forwards;
	 
}

/* VISIBILIRY */

@keyframes visibility{

	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes visibility{

	from { opacity: 0; }
	to   { opacity: 1; }
	
}

@-webkit-keyframes visibility{

	from { opacity: 0; }
	to   { opacity: 1; }
	
}

@-o-keyframes visibility{

	from { opacity: 0; }
	to   { opacity: 1; }
	
}

.visibility{
   
	-webkit-animation: visibility 2s linear forwards;
	-moz-animation: visibility 2s linear forwards;
	-ms-animation: visibility 2s linear forwards;
	-o-animation: visibility 2s linear forwards;
	animation: visibility 2s linear forwards;
	 
}

/* OUTLINE */

@keyframes outline{

	from { outline-color: #4c8ffe; color:#5b5d64;}
	50% { outline-color: red; color:red;}
	to   { outline-color: #4c8ffe; color:#5b5d64;}
}

@-moz-keyframes outline{

	from { outline-color: #4c8ffe; color:#5b5d64;}
	50% { outline-color: red; color:red;}
	to   { outline-color: #4c8ffe; color:#5b5d64;}
	
}

@-webkit-keyframes outline{

	from { outline-color: #4c8ffe; color:#5b5d64;}
	50% { outline-color: red; color:red;}
	to   { outline-color: #4c8ffe; color:#5b5d64;}
	
}

@-o-keyframes outline{

	from { outline-color: #4c8ffe; color:#5b5d64;}
	50% { outline-color: red; color:red;}
	to   { outline-color: #4c8ffe; color:#5b5d64;}
	
}

.outline{
   
	-webkit-animation: outline 1.5s ease;
	-moz-animation: outline 1.5s ease;
	-ms-animation: outline 1.5s ease;
	-o-animation: outline 1.5s ease;
	animation: outline 1.5s ease;
	 
}

/* VALIDATION */

@keyframes validation{

	from { background-color: #c3c4c; color:white;}
	to   { background-color: #5dd64e; color:white;}
}

@-moz-keyframes validation{

	from { background-color: #c3c4c; color:white;}
	to   { background-color: #5dd64e; color:white;}
	
}

@-webkit-keyframes validation{

	from { background-color: #c3c4c; color:white;}
	to   { background-color: #5dd64e; color:white;}
	
}

@-o-keyframes validation{

	from { background-color: #c3c4c; color:white;}
	to   { background-color: #5dd64e; color:white;}
	
}

.validation{
   
	-webkit-animation: validation 1s linear forwards;
	-moz-animation: validation 1s linear forwards;
	-ms-animation: validation 1s linear forwards;
	-o-animation: validation 1s linear forwards;
	animation: validation 1s linear forwards;
	 
}

/* COLUMN1 */

@keyframes column1{

	from { left: -100px; }
	to   { left: 75px; }
}

@-moz-keyframes column1{

	from { left: -100px; }
	to   { left: 75px;}
	
}

@-webkit-keyframes column1{

	from { left: -100px;}
	to   { left: 75px;}
	
}

@-o-keyframes column1{

	from { left: -100px;}
	to   { left: 75px;}
	
}

#column1{
   
	-webkit-animation: column1 2s linear forwards;
	-moz-animation: column1 2s linear forwards;
	-ms-animation: column1 2s linear forwards;
	-o-animation: column1 2s linear forwards;
	animation: column1 2s linear forwards;
	 
}

/* COLUMN2 */

@keyframes column2{

	from { left: -100px; }
	to   { left: 145px; }
}

@-moz-keyframes column2{

	from { left: -100px; }
	to   { left: 145px;}
	
}

@-webkit-keyframes column2{

	from { left: -100px;}
	to   { left: 145px;}
	
}

@-o-keyframes column2{

	from { left: -100px;}
	to   { left: 145px;}
	
}

#column2{
   
	-webkit-animation: column2 1.5s linear forwards 1s;
	-moz-animation: column2 1.5s linear forwards 1s;
	-ms-animation: column2 1.5s linear forwards 1s;
	-o-animation: column2 1.5s linear forwards 1s;
	animation: column2 1.5s linear forwards 1s;
	 
}/* COLUMN3 */

@keyframes column3{

	from { left: -100px; }
	to   { left: 215px; }
}

@-moz-keyframes column3{

	from { left: -100px; }
	to   { left: 215px;}
	
}

@-webkit-keyframes column3{

	from { left: -100px;}
	to   { left: 215px;}
	
}

@-o-keyframes column3{

	from { left: -100px;}
	to   { left: 215px;}
	
}

#column3{
   
	-webkit-animation: column3 1s linear forwards 2s;
	-moz-animation: column3 1s linear forwards 2s;
	-ms-animation: column3 1s linear forwards 2s;
	-o-animation: column3 1s linear forwards 2s;
	animation: column3 1s linear forwards 2s;
	 
}
