@font-face{
	font-family : square;
	src : url(../FONTS/square.ttf);



}

body{

	overflow:hidden;

}

.column{

	position: absolute;	
	z-index: -1;
	top: 0px;

}

#column1{

	left:-100px;
	

}

#column2{

	left:-100px;

}

#column3{

	left:-100px;

}

#nav{

	margin-left: auto;
	margin-right: auto;
	margin-top: 200px;
	width: 290px;

}

#logo{
	padding-left : 5px;
}

#login{
	margin-top: 20px;
}

#authentification{
	opacity: 0;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 400px;

}

#valid_login{

	background-color : #a9a9a9;
	border : 1px solid #8c8c8c	;
	color : white;
	cursor : pointer;
	width : 75px;
	font-weight:bold;
	
	transition: all 0.5s ease-in;  
	-webkit-transition: all 0.5s ease-in;  
	-moz-transition: all 0.5s ease-in;  
	-ms-transition: all 0.5s ease-in;  
	-o-transition: all 0.5s ease-in;  
	transition: all 0.5s ease-in;  
}

#valid_login:hover{

	background-color : #4c8ffe;
	color : white;

}

.message{

	color : #7c7c7c;
	font-weight:bold;
	display:block;
	font-family : square;

}

input{

	color : #7c7c7c;
	outline-color: #4c8ffe;
	border : 1px solid #7c7c7c;
	font-weight:bold;
}

.chart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

